.vscode/
**.egg-info/
**/__pycache__/
submission.csv
logs
secrets
**/*.secret
saves
.pytest_cache
**/*.json
!devcontainer.json
**/*.csv
plots/
c_generated_code/
/build
tries/**

# pixi environments
.pixi/*
!.pixi/config.toml
ros_ws/
acados/
